.container {
  overflow: hidden;

  .form-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo{
      max-width: 100%;
      margin: 50px 0 10px;
      opacity: .1;
    }
  
    .login-form {
      width: 77%;
      .site-form-item-icon {
        opacity: .1;
      }
  
      .login-form-exit {
        float: right;
      }
    }
  }

}