.overView {
  .ant-layout-header {
    height: 50px;
    background-color: #f9f9f9;
    padding: 0;
    line-height: 0;
    display: flex;
  }
  .ant-layout-sider {
    background-color: #ededed;
  }
  .ant-layout {
    background-color: #fff;
  }
  .ant-layout-footer {
    background-color: #fff;
    height: 60px;
    border-top: 1px solid #ededed;
    padding: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    .ant-input-suffix {
      width: 99%;
      position: absolute;
      top: -11.333px;
      opacity: 0.8;
      display: none;
    }
    &:hover {
      textarea {
        height: 200px;
      }
      height: 200px;
      z-index: 99999;
      .ant-input-suffix {
        width: 99%;
        position: absolute;
        top: -11.333px;
        opacity: 0.8;
        display: block;
        .ant-input-data-count {
          background-color: #fff;
          padding: 0 7px;
        }
      }
    }
  }
  .left {
    .ant-btn {
      border-radius: 0;
      width: 104%;
      left: -2%;
      margin-top: -1px;
    }
    .titleBox {
      padding: 2vh 10px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      .titleItem {
        margin: 10px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        line-height: 26px;
        color: #333;
      }
      &:hover {
        background-color: #fff;
        .titleItem {
          color: #333;
          display: block;
        }
      }
    }
    .selected {
      background-color: #e7c895;
      .titleItem {
        color: #fff;
        font-size: 16px;
      }
    }
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;

    pre:first-child {
      border: none !important;
      box-shadow: none !important;
      background: #fff !important;
    }

    .copy-code {
      cursor: pointer;
      background-color: #e7c895;
      color: #fff;
      border-radius: 3px;
      padding: 5px;
      font-size: 12px;
      user-select: none !important;
    }

    .chat-bubble {
      * {
        user-select: text;
      }
      ::selection {
        background-color: #e7c895;
        color: #ffffff;
      }
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      max-width: 70%;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 19px;
      border-bottom-left-radius: 6px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      text-align: justify;
      overflow: hidden;
      p {
        margin: 0;
      }
    }
    .right {
      background-color: #e7c895;
      align-self: flex-end;
      border-radius: 26px;
      border-bottom-right-radius: 6px;
    }
  }
}
