.overView {
  .ant-layout-header {
    height: 50px;
    background-color: #f9f9f9;
    padding: 0;
    line-height: 0;
    display: flex;
  }
  .ant-layout-sider {
    background-color: #ededed;
  }
  .ant-layout {
    background-color: #fff;
  }
  .ant-layout-footer {
    background-color: #fff;
    height: 60px;
    border-top: 1px solid #ededed;
    padding: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    .ant-input-suffix {
      width: 99%;
      position: absolute;
      top: -11.333px;
      opacity: 0.8;
      display: none;
    }
    &:hover {
      height: 200px;
      z-index: 99999;
      .ant-input-suffix {
        width: 99%;
        position: absolute;
        top: -11.333px;
        opacity: 0.8;
        display: block;
        .ant-input-data-count {
          background-color: #fff;
          padding: 0 7px;
        }
      }
    }
  }
  .left {
    .ant-btn {
      border-radius: 0;
      width: 104%;
      left: -2%;
      margin-top: -1px;
    }
    .titleBox {
      padding: 10px;
      transition: all 0.3s ease-in-out;
      .titleItem {
        margin: 10px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        line-height: 26px;
        color: #333;
      }
      &:hover {
        background-color: #fff;
        .titleItem {
          color: #f56614;
          display: block;
        }
      }
    }
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
  }
  .chat-bubble {
    * {
      user-select: text;
    }
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .right {
    align-self: flex-end;
    background-color: #b3dced;
  }
}
