@import '~antd/dist/antd.less';

@font-face {
  font-family: ZaoJi;
  src: url('../src/assets/ZaoJi.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: ZaoJi;
  // 文字不能被选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// 进度条样式
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
  opacity: 0;
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper-focused {
  border-left: none;
  border-top: none;
  border-right: none;
  box-shadow: none !important;
  border-radius: 0;
}

.ant-image-preview-mask {
  background-color: rgb(255 255 255 / 45%) !important;
}

.ant-popover-arrow-content {
  display: none;
}

.ant-popover-title {
  margin-top: 50px;
}
.ant-popover-inner-content {
  padding: 0;
}